.blogcontent{
    margin-top: 82px;
    margin-left: 88px;
    margin-right: 97px;
}

.title{
    font-size: 43.5px;
    line-height: 45.27px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.050em;
}
.content{
    font-size: 22px;
    line-height: 31px;
    color: #58595B; 
    font-family: 'Work Sans';
    letter-spacing: 0.01em;
    margin-top: 30px;
}
.content img{
    height: auto;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;

}
.icono1{
    width: 8.7px;
    height: 18.8px;
    margin-right: 7px;
}
.icono2{
    width: 18.6px;
    height: 18.6px;  
    margin-right: 7px;
}
.icono3{
    width: 20.7px;
    height: 19.7px; 
    margin-right: 7px;
}
.icono4{
    width: 23px;
    height: 18.8px; 
    margin-right: 7px;
}
.icono5{
    width: 15.6px;
    height: 15.6px;
    margin-right: 7px;
}
.social{
    margin-top: 27px;
}

.bottomarrow{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 110px;
}

.arrowleft{
    width: 29px;
    margin-top: -3px;
}

.arrowrigh{
    width: 29px;
    margin-top: -3px;
}
.botonanterior{
    font-size: 18px;
    line-height: 14.5px;
    color: #92A5AE; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.075em;
    margin-right: 34px;
}
.botonsiguiente{
    font-size: 18px;
    line-height: 14.5px;
    color: #92A5AE; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.075em;
}

.social a:hover {
    text-decoration: none;
  } 

  .textproduct{
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #92A5AE; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.050em;
    margin-bottom: 22px;
  }

  .imgarticulo{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textdate{
    font-size: 14.26px;
    line-height: 21.4px;
    color: #ffffff; 
    font-family: 'Work Sans';
    letter-spacing: 0.025em;
}
.texttitle{
    font-size: 18.34px;
    line-height: 21.4px;
    color: #ffffff; 
    font-weight: bold;
    font-family: 'Work Sans';
}

.boxtext{
    background-color: #92A5AE;
    padding: 10px 17px 12px 29px;
}

.productssimilares{
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    text-align: center;
    justify-content: center;
    width: fit-content;
}

.articulossimilares{
    margin-bottom: 75px;
}

.col-8{
    padding-right: 67px; 
}

