.blogcontent{
    margin-top: 82px;
    margin-left: 88px;
    margin-right: 97px;
}
.main-banner{
    position: relative;
}
.go-form{
    background-color: #A67EB1;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
}
.go-form span{
    text-decoration: underline;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF; 
    font-family: 'Raleway-Medium';
    letter-spacing: 0.050em;
    display: block;
    position: relative;
}
.go-form span::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform: rotate(-45deg) translateY(-50%);
}
.date{
    font-size: 15px;
    line-height: 21px;
}
.title{
    font-size: 49px;
    line-height: 45.27px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
}
.title span{
    -webkit-text-stroke: 1px #00263A;
    color: transparent;
}
.content{
    font-size: 21px;
    line-height: 33px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.001em;
    margin-top: 30px;
}
.content img{
    height: auto;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;

}
.icono1{
    width: 8.7px;
    height: 18.8px;
    margin-right: 7px;
}
.icono2{
    width: 18.6px;
    height: 18.6px;  
    margin-right: 7px;
}
.icono3{
    width: 20.7px;
    height: 19.7px; 
    margin-right: 7px;
}
.icono4{
    width: 23px;
    height: 18.8px; 
    margin-right: 7px;
}
.icono5{
    width: 15.6px;
    height: 15.6px;
    margin-right: 7px;
}
.social{
    margin-top: 27px;
    display: flex;
}
.social span{
    font-family: 'Raleway-Bold';
    font-size: 21px;
    line-height: 24px;
    color: #A67EB1;
    margin-right: 10px;
}
.social a{
    display: block;
    margin-right: 10px;
}
.social img{
    height: 18px;
}
.form-contacto{
    padding: 70px 0;
    background-color: #F1F2F2;
}
.tittlecontantacnos{
    font-size: 26px;
    line-height: 19px;
    color: #00263A;
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    text-align: center;
}
.bottomarrow{
    text-align: right;
    margin-top: -30px;
    margin-bottom: 110px;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.bottomarrow a:hover {
    text-decoration: none;
    color: #A67EB1; 
  }

.arrowleft,.arrowrigh{
    width: 7px;
    margin-top: -3px;
}

.botonanterior{
    font-size: 21px;
    line-height: 24.5px;
    color: #A67EB1; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    margin-right: 34px;
    text-decoration: underline;
}
.botonsiguiente{
    font-size: 21px;
    line-height: 24.5px;
    color: #A67EB1; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    text-decoration: underline;
}

.social a:hover {
    text-decoration: none;
    color: #A67EB1; 
  } 

  .textproduct{
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    margin-bottom: 22px;
  }

  .imgarticulo{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textdate{
    font-size: 14.26px;
    line-height: 21.4px;
    color: #ffffff; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.025em;
    margin-bottom: 5px;
}
.texttitle{
    font-size: 18px;
    line-height: 21.4px;
    color: #ffffff; 
    font-family: 'Raleway-Heavy';
}

.boxtext{
    background-color: #00263A;
    padding: 10px 17px 12px 29px;
}

.productssimilares{
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    text-align: center;
    justify-content: center;
    width: fit-content;
}

.articulossimilares{
    margin-bottom: 50px;
}
.articulossimilares .productsimilarestext{
    font-size: 21px;
    line-height: 24px;
    color: #808080; 
    font-family: 'Raleway-Bold';
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
}

.articulossimilares a:hover {
    text-decoration: none;
  }

.col-8{
    padding-right: 67px; 
}

@media (max-width:1024px){
    .bottomarrow{
        margin-top: 20px;
        margin-right: auto;
    }
}

@media (max-width:767px){ 
    .go-form{
        padding: 8px 0;
    }
    .go-form span{
        font-size: 16px;
        line-height: 24.54px;
    }
    .title {
        font-size: 28px;
        line-height: 29px;
    }
    .content {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
    }
    .blogcontent {
        margin-top: 62px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .content img {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .social {
        margin-top: -10px;
    }
    .social span{
        font-size: 16px;
        line-height: 24.54px;
    }
    .icono1,.icono2,.icono3,.icono4,.icono5 {
        margin-right: 5px;
    }
    .bottomarrow {
        margin-top: 24px;
        margin-bottom: 66px;
    }
    .botonanterior {
        font-size: 16px;
        line-height: 24.54px;
        margin-right: 15px;
    }
    .botonsiguiente {
        font-size: 16px;
        line-height: 24.54px;
    }
    .textproduct {
        font-size: 26px;
        line-height: 28px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .overproductos {
        overflow: auto;        
    }
    .articulossimilares {
        display: inline-block;
        /* margin-right: 10px; */
        margin-bottom: 48px;
        flex: 0 0 27%;
        /* width: 285px; */
    }
    .exploraarticulo{
        display: flex;
        width: fit-content;
        justify-content: space-around;
        min-width: 990px;
    }
    .overproductos .articulossimilares a {
        display: block;
        height: 100%;
    }
    .overproductos .articulossimilares a div.d-block.d-md-none {
        height: 50%;
    }
    .overproductos .articulossimilares a div img {
        height: 100%;
        object-fit: cover;
    }

}

