.tittle{
    font-size: 49px;
    line-height: 50px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em; 
}

.tittle span{
    -webkit-text-stroke: 1px #00263A;
    color: transparent;
}

.content{
    font-size: 22px;
    line-height: 31px;
    color: #808080; 
    font-family: 'Raleway-Regular'; 
    letter-spacing: 0.05em;
}

.imgpost{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-articulo{
    height: 100%;
    display: grid;
}
.imgarticulo{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.one{
    margin-top: 138px;
    margin-left: 85px;
    margin-right: 34px;
}

.one a:hover {
    text-decoration: none;
    color: #A67EB1;
  }

.two{
    margin-top: 120px;
    margin-left: 85px;
    margin-right: 34px;
    margin-bottom: 136px; 
}

.two a:hover {
    text-decoration: none;
    color: #A67EB1;
  }

.verarticulo{
    font-size: 21px;
    line-height: 24px;
    color: #A67EB1; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
}

.arrowrigh{
    width: 29px;
    margin-left: 13px;
    margin-top: -4px;

}

.seccionart
{
    margin-left: 80px;
    margin-right: -20px; 
}

.tittle1{
    font-size: 14px;
    line-height: 0px;
    color: #ffffff; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.025em;
}
.tittle2{
    font-size: 18px;
    line-height: 21.4px;
    color: #ffffff; 
    font-family: 'Raleway-Heavy'; 
}

.recientes{
    margin-bottom: 90px;
}

.recientes a:hover { 
    text-decoration: none;
  }

.textart{
    background-color: #00263A;
    padding: 20px 17px 12px 29px;
}

.textproduct p{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    margin-bottom: 52px;
}

@media (max-width:991px){ 
    .one {
        margin-top: 60px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .two {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .tittle {
        font-size: 28px;
        line-height: 29px;
    }
    .content {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .verarticulo {
        font-size: 16px;
    }
    .arrowrigh {
        margin-left: 0px;
    }
    .seccionart {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-plastiglass{
    width: calc(100% - 40px)!important;
    margin-left: 20px!important;
    margin-right: auto!important;
    }
}

@media (max-width:767px){ 
    .imgpost {
        height: 300px;
        margin-top: 34px;
    }
    .two {
        margin-top: 37px;
    }
    .textproduct {
        line-height: 28px;
        margin-bottom: 23px;
    }

    .overproductos {
        overflow: auto; 
    }
    .recientes{
    width: max-content;
    margin-bottom: 32px;
    }
    .recientes{
        max-width: 900px;
    }
    .imgarticulo {
        min-height: 200px;
    }
 
} 

