.tittle{
    font-size: 43.5px;
    line-height: 45.27px;
    color: #58595B; 
    font-weight: bold;
    font-family: 'Work Sans';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.content{
    font-size: 22px;
    line-height: 31px;
    color: #58595B; 
    font-family: 'Work Sans'; 
    letter-spacing: 0.1em;
}

.imgpost{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgarticulo{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.one{
    margin-top: 138px;
    margin-left: 85px;
    margin-right: 34px;
}

.two{
    margin-top: 120px;
    margin-left: 85px;
    margin-right: 34px;
    margin-bottom: 136px; 
}

.verarticulo{
    font-size: 18px;
    line-height: 24px;
    color: #92A5AE; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
}

.arrowrigh{
    width: 29px;
    margin-left: 13px;
    margin-top: -4px;

}

.seccionart
{
    width: calc(100% - 314px)!important;
    margin-left: 185px!important;
    margin-right: auto!important;
}

.tittle1{
    font-size: 14.26px;
    line-height: 0px;
    color: #ffffff; 
    font-family: 'Work Sans';
    letter-spacing: 0.025em;
}
.tittle2{
    font-size: 18.34px;
    line-height: 21.4px;
    color: #ffffff; 
    font-weight: bold;
    font-family: 'Work Sans'; 
}

.recientes{
    margin-bottom: 165px;
}

.textart{
    background-color: #92A5AE;
    padding: 15px 17px 12px 29px;
}

.textproduct{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #58595B; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
    margin-bottom: 52px;
}