.catalogobox{
    margin-top: 57px;
}

.filtros{
    flex: 0 0 260px;
    margin-top: 43px;
    padding-left: 38px;
    width: 20%;
}
.filtros li{
    list-style-type: none;

}
.filtros ul{
    padding-left: 0px;
    overflow: hidden;
    max-height: 0px;
}

.filtrosmostrar ul{
    max-height: 1000px;
}

.filtrosmostrar .colormas{
    display: none;
}

.titlefiltro{
    font-size: 19px; 
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
}

.container-fluid {
    padding-left: 51px!important;
    padding-right: 74px!important;
}


.titufiltro{
    position: relative;
    margin-bottom: 42px;
}


.gridproducto{
    width: 80%;
}

.titufiltro:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #808080;
    position: absolute;
}

.textcat{
    font-size: 16px; 
    line-height: 19px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.02em;
    cursor: pointer;
}

.boxcolor{
    display: inline-flex;
    flex-wrap: wrap;
}

.circlec{
    height: 33px;
    width: 33px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.Cuadroprecio, .Cuadrocolor, .Cuadromaterial, .Cuadroforma, .Cuadrotipo {
    position: relative;
    margin-bottom: 42px;
}
.Cuadroprecio:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #929292;
    position: absolute;
}
.Cuadrocolor:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #929292;
    position: absolute;
}
.Cuadromaterial:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #929292;
    position: absolute;
}

.Cuadroforma:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #929292;
    position: absolute;
}

.Cuadrotipo:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #929292;
    position: absolute;
}


.titlepag{
    font-size: 49px; 
    line-height: 51px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
}
.tittleref{
    font-size: 13.7px; 
    line-height: 20.54px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.025em;
    margin-bottom: 0px;
    margin-top: 14px;
}
.tittleproc{ 
    font-size: 17.61px; 
    line-height: 20.54px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    margin-bottom: 0px;
}
.boxproduc{
    background-color: #F1F2F2;
    padding: 14px 16px 14px 16px;
    margin-bottom: 50px;
    height: calc(100% - 50px);
}

a:hover{
    text-decoration: none;
}

.colormas{
    height: 16px;
    width: 2px;
    background-color: #58595B;
    position: absolute;
    right: 7px;
}

.colormenos{
    height: 2px;
    width: 16px;
    background-color: #00263A;
    position: absolute;
    right: 0px;
    top: 7px;
}

.textcat svg{
    width: 26.45px;
    height: 27.7px;
}

.openchilito .chulitocategoria{
    opacity: 1;
}

.chulitocategoria{
    opacity: 0;
}

.openchilito .circlec{
    border: 2px solid #000000;

}

.circlec{

    border: none;
}

.menumobilefiltro {
    height: 20px;
    width: 38px;
    float: right;
    cursor: pointer;
    position: relative;
}

.botonaplicar{
    font-size: 16px; 
    line-height: 18.43px;
    color: #FFFFFF; 
    font-family: 'Raleway-Regular';
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    padding: 8px;
    background-color:#92A5AE;
    border: none;
}



@media (min-width: 992px){ 
    .menumobilefiltro {
        display: none;
    }
    .botonaplicar{
        display: none;
    }
}

@media (max-width:991px){
    .gridproducto{
        width: 100%;
    }
    .equisprin{
        cursor: pointer;
        top: 23px;
        right: 17px;
        position: absolute;
        height: 20px;
        width: 20px;
        right: 35px;
        z-index: 1;
    }
    .equis1, .equis2{
        height: 2px;
        width: 22px;
        background-color: #58595B;
        position: absolute;
        top: 9px;
    }
    .equis1{
        transform: rotate(45deg);
        
    }
    .equis2{
        transform: rotate(-45deg);
        
    }
    .filtros {
        position: fixed;
        background-color: #F0F0F0;
        top: -44px;
        height: 0vh;
        width: 100%;
        z-index: 1;
        padding-right: 35px;
        overflow: hidden; 
    }
    .filtronopen{
        overflow: auto;
        height: 100vh;
        padding-top: 23px;  
        padding-bottom: 23px;

    }
    .titlepag {
        font-size: 28px;
        line-height: 29px;
        position: absolute;
    }
    .tittleref {
        font-size: 12.73px;
        line-height: 19.09px;
    }
    .tittleproc {
        font-size: 16.36px;
        line-height: 19.09px;
    }
    .container-fluid {
        padding-left: 35px!important;
        padding-right: 35px!important; 
    }
    .catalogobox {
        margin-top: 30px;
    }
    #galeriaproductos{
        margin-top: 40px;
    }

    .titlefiltro {
        font-size: 15.44px;
        line-height: 18.01px;
    }
    .textcat {
        font-size: 13.72px;
        line-height: 16.29px;
    }
    .textcat svg {
        margin-top: -5px;
    }
}