.boxcategorias{
    margin-left: 10px;
    margin-right: -40px;
    margin-top: 109px;
}
.name{
    font-size: 49px;
    line-height: 50px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    margin-bottom: 5px;
}
.descri{
    font-size: 22px;
    line-height: 31px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.1em;
    margin-bottom: 35px;
}

.paddingtext{
    height: 100%;
    padding: 102px 41px 102px 41px;
    background-color: rgb(241, 242, 242, 1); 
    position: relative;
    overflow: hidden;
}

.paddingtext a:hover {
    text-decoration: none;
    color: #ffffff;
  }

.verproducto{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ffffff; 
    font-family: 'Raleway-Heavy';
    background-color: #A67EB1;
    padding: 11px 25px 10px 25px;
}

.boximg{
    margin-bottom: 60px;
}

.boxtext{
    margin-bottom: 60px;
    position: relative;
}
.icon-fondo{
    position: absolute;
    top: 30%;
    left: 96%;
    transform: translate(-50%,-50%);
    width: 480px;
}

@media (max-width:991px){
    .name {
        font-size: 31px;
        line-height: 29px;
    }
    .descri {
        font-size: 16px;
        line-height: 23px; 
    }
    .verproducto {
        font-size: 16px;
        line-height: 18.43px;
        padding: 10px;
    }
    .paddingtext {
        padding: 47px 27px 58px 22px;
    }
    .icon-fondo{
        width: 240px;
    }
}

@media (max-width:767px){
    .boxcategorias {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 57px;
    }
    .boximg {
        margin-bottom: 30px;
    }
    .boxtext {
        margin-bottom: 40px;
        
    }

}