.boxcategorias{
    margin-left: 10px;
    margin-right: -40px;
    margin-top: 109px;
}
.name{
    font-size: 49px;
    line-height: 51px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.050em;
    text-transform: uppercase;
}
.descri{
    font-size: 22px;
    line-height: 31px;
    color: #58595B; 
    font-family: 'Work Sans';
    letter-spacing: 0.1em;
}

.paddingtext{
    height: 100%;
    padding: 102px 41px 102px 41px;
    background-color: rgb(146, 165, 174, 0.22); 
}

.paddingtext a:hover {
    text-decoration: none;
    color: #ffffff;
  }

.verproducto{
    font-size: 18px; 
    line-height: 20px;
    color: #ffffff; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.1em;

    background-color: #92A5AE;
    padding: 15px;
}

.boximg{
    margin-bottom: 60px;
}

.boxtext{
    margin-bottom: 60px;
}

@media (max-width:991px){
    .name {
        font-size: 31px;
        line-height: 29px;
    }
    .descri {
        font-size: 16px;
        line-height: 23px; 
    }
    .verproducto {
        font-size: 16px;
        line-height: 18.43px;
        padding: 10px;
    }
    .paddingtext {
        padding: 47px 27px 58px 22px;
    }

}

@media (max-width:767px){
    .boxcategorias {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 57px;
    }
    .boximg {
        margin-bottom: 30px;
    }
    .boxtext {
        margin-bottom: 40px;
        
    }

}