.cliente_text{
    margin-top: 61px;
    margin-left: 289px;
    margin-right: 289px;
}

.cliente_tittle{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.025em;
}
.cliente_content{
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    margin-bottom: 65px;
}

@media (max-width:991px){

    .cliente_text {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (max-width:767px){  
    .cliente_tittle {
        line-height: 28px;
    }
    .cliente_content {
        font-size: 16px;
        line-height: 22px; 
    }
} 