.inforcontactos{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 49px;
}

.tittlecontantacnos{
    font-size: 31px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}

.textcontactanos p{
    font-size: 16px;
    line-height: 25px;
    color: #808080;
    font-family: 'Raleway-Regular'; 
    letter-spacing: 0.025em;
}

.textcontactanos a{
    font-size: 16px;
    line-height: 25px;
    color: #808080;
    font-family: 'Raleway-Regular';
    letter-spacing: 0.025em;
}

.textcontactanos a:nth-child(3){
    font-size: 16px;
    line-height: 25px;
    color: #808080;
    font-family: 'Raleway-Bold';
    letter-spacing: 0.050em;
}

#map{
    height: 350px;
    margin-top: 86px;
}

@media (max-width:991px){
    .inforcontactos {

        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (max-width:767px){ 
    .inforcontactos {
        text-align: center;
        margin-top: 63px;
        margin-bottom: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .tittlecontantacnos {
        line-height: 28px;
    }
    #map {
        margin-bottom: 75px;
        margin-top: 75px;
    } 

}