.inforcontactos{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 49px;
}

.tittlecontantacnos{
    font-size: 26px;
    line-height: 19px;
    color: #58595B; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
    margin-bottom: 13px;
}

.textcontactanos p{
    font-size: 16px;
    line-height: 25px;
    color: #698893;
    font-family: 'Work Sans'; 
    letter-spacing: 0.050em;
}

.textcontactanos a{
    font-size: 16px;
    line-height: 25px;
    color: #698893;
    font-family: 'Work Sans';
    letter-spacing: 0.050em;
}

.textcontactanos a:nth-child(3){
    font-size: 16px;
    line-height: 25px;
    color: #698893;
    font-family: 'Work Sans';
    letter-spacing: 0.050em;
    font-weight: 600; 
}

#map{
    height: 350px;
    margin-top: 86px;
}

@media (max-width:991px){
    .inforcontactos {

        margin-left: 35px;
        margin-right: 35px;
    }
}

@media (max-width:767px){ 
    .inforcontactos {
        text-align: center;
        margin-top: 63px;
        margin-bottom: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .tittlecontantacnos {
        line-height: 28px;
    }
    #map {
        margin-bottom: 75px;
        margin-top: 75px;
    } 

}