.formulsuscribirme .title{
    font-size: 26px;
    line-height: 14.4px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.025em;
    text-align: center;
}

.formulsuscribirme{
    background-color: rgb(241, 242, 242, 1); 
    padding-bottom: 25px;
    padding-top: 31px;
} 
.formulsuscribirme .editable{
    padding-right: 0px !important;
}
.formulsuscribirme .editablebotton{
    padding-left: 0px !important; 
    height: 46px;
}

.formulsuscribirme .editable input{
    width: 100%;
    border: none;
    padding-left: 16px;
    background-color: rgb(255, 255, 255, 1);
    padding: 7px 13px 8px 13px;
       /* margin-bottom: 28px;*/
}
.formulsuscribirme .editable input::placeholder {                 
    font-size: 18px;
    line-height: 21.6px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.050em; 
}
  
.formulsuscribirme .editable input:-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.050em;

}
  
.formulsuscribirme .editable input::-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.050em;

}

.formulsuscribirme .wpcf7-submit{
    background-color: #A67EB1;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    padding: 13px 30px;
    border: none;

    /*margin-top: 33px;*/
}

.formulsuscribirme .wpcf7-list-item-label{
    font-size: 16px;
    line-height: 19px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.020em;
    margin-left: 10px;
}
.formulsuscribirme .wpcf7-list-item-label a{
    font-size: 16px;
    line-height: 19px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.020em;
}
.custemequiss{
    left: 0px;
    position: absolute;
    margin-top: 2px;
}
.custemequiss svg{
    width: 26px;
    cursor: pointer;
}
.equiss{
    opacity: 0;
}
.equissmostar{
    opacity: 1;
}

.formulsuscribirme input[name="box[]"]{
    display: none;
}

.terminos{
    margin-top: 10px;
}

.boxsuscribir{    
    margin-top: 27px;
}

.wpcf7-not-valid-tip{
    font-size: 14px !important;
    line-height: 16.8px;
    color: #801F23 !important; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.050em;
    position: absolute;
    width: 155px;
    left: 7px;
    top: -26px;
    z-index: 1;
}
.wpcf7-response-output{
    display: none !important; 
}


@media (max-width:991px){ 

    .formulsuscribirme .title {
        line-height: 28px;
        margin-bottom: -8px;
    }
    .boxsuscribir {
        padding-left: 0px;
        padding-right: 0px;
    }
    .formulsuscribirme .editablebotton {
        padding-left: 15px !important;
        margin-top: 10px;
    }
    .formulsuscribirme .editable {
        padding-right: 15px !important;
    }
    .formulsuscribirme .editable input {
        padding: 2px 15px 2px 15px;
    }
    .formulsuscribirme .wpcf7-submit {
        padding: 12px 15px;
        width: 100%;
    }
    .terminos {
        margin-top: 0px;
    }
    .formulsuscribirme .wpcf7-list-item-label {
        letter-spacing: 0.00em;
    }
    .formulsuscribirme {
        padding-bottom: 14px;
        padding-top: 27px;
        margin-bottom: 93px;
    }

}