
.formulcontactanos .editable input{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px #808080 solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 7px;
    margin-bottom: 28px;
}
.formulcontactanos  .container-plastiglass{
    max-width: 995px;
    margin: auto!important;
}
.formulcontactanos .editable input::placeholder {                 
    font-size: 18px;
    line-height: 21.6px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
}
  
.formulcontactanos .editable input:-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #929292; 
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;

}
  
.formulcontactanos .editable input::-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #929292; 
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;

}

.formulcontactanos .wpcf7-submit{
    background-color: #A67EB1;
    font-size: 23px;
    line-height: 14.4px;
    color: #ffffff;
    font-family: 'Raleway-ExtraBold';
    letter-spacing: 0.075em;
    padding: 15px 50px;
    border: none;
    margin-top: 33px;
    margin-left: 75px;
}
.formulcontactanos .box-checkbox {
    margin-top: 10px;
}
.formulcontactanos .wpcf7-list-item-label{
    font-size: 16px;
    line-height: 19px;
    color: #929292; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.020em;
    margin-left: 21px;
}
.custemchulito{
    left: 0px;
    position: absolute;
}
.custemchulito svg{
    width: 26px;
    cursor: pointer;
}
.chulito{
    opacity: 0;
}
.chulitomostar{
    opacity: 1;
}

.formulcontactanos input[name="box[]"]{
    display: none;
}

.wpcf7-not-valid-tip{
    font-size: 14px !important;
    line-height: 16.8px;
    color: #801F23 !important; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.050em;
    position: absolute;
    width: 155px;
    left: 7px;
    bottom: -25px;
    z-index: 1;
}
.wpcf7-response-output{
    display: none !important; 
}

@media (max-width:767px){ 

    .formulcontactanos .editable input {
        margin-bottom: 7px;
    }

    .formulcontactanos .editable input::placeholder {                 
        font-size: 16px;
        line-height: 19,2px;
    }
      
    .formulcontactanos .editable input:-ms-input-placeholder { 
        font-size: 16px;
        line-height: 19,2px;
    }
      
    .formulcontactanos .editable input::-ms-input-placeholder { 
        font-size: 16px;
        line-height: 19,2px;  
    }
    span.wpcf7-list-item {
        display: inline-flex;
        margin-top: 20px;
    }
    .custemchulito {
        margin-top: 17px;
    }

    .formulcontactanos .wpcf7-submit {
        font-size: 16px;
        margin-top: 22px; 
    }

}