.formulsuscribirme .title{
    font-size: 26px;
    line-height: 14.4px;
    color: #58595B; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
    text-align: center;
}

.formulsuscribirme{
    background-color: rgb(146, 165, 174, 0.22); 
    padding-bottom: 10px;
    padding-top: 31px;
} 
.formulsuscribirme .editable{
    padding-right: 0px !important;
}
.formulsuscribirme .editablebotton{
    padding-left: 0px !important; 
}

.formulsuscribirme .editable input{
    width: 100%;
    border: 1px rgb(112, 111, 111, 0.25) solid;
    padding-left: 16px;
    background-color: rgb(146, 165, 174, -0.75);
    padding: 5px 13px 8px 13px;
       /* margin-bottom: 28px;*/
}
.formulsuscribirme .editable input::placeholder {                 
    font-size: 18px;
    line-height: 21.6px;
    color: #929292; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.050em; 
}
  
.formulsuscribirme .editable input:-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #929292; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.050em;

}
  
.formulsuscribirme .editable input::-ms-input-placeholder { 
    font-size: 18px;
    line-height: 21.6px;
    color: #929292; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.050em;

}

.formulsuscribirme .wpcf7-submit{
    background-color: #698893;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff; 
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.1em;
    padding: 13px 15px;
    border: none;
    /*margin-top: 33px;*/
}

.formulsuscribirme .wpcf7-list-item-label{
    font-size: 16px;
    line-height: 19px;
    color: #929292; 
    font-family: 'Work Sans';
    letter-spacing: 0.020em;
    margin-left: 10px;
}
.custemequiss{
    left: 0px;
    position: absolute;
    margin-top: 2px;
}
.custemequiss svg{
    width: 26px;
    cursor: pointer;
}
.equiss{
    opacity: 0;
}
.equissmostar{
    opacity: 1;
}

.formulsuscribirme input[name="box[]"]{
    display: none;
}

.terminos{
    margin-top: 10px;
}

.boxsuscribir{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 27px;
}

.wpcf7-not-valid-tip{
    font-size: 14px !important;
    line-height: 16.8px;
    color: #801F23 !important; 
    font-family: 'Work Sans';
    letter-spacing: 0.050em;
    position: absolute;
    width: 155px;
    left: 7px;
    bottom: -35px; 
}
.wpcf7-response-output{
    display: none !important; 
}