

.containerpost {
    margin-left: 42px;
    margin-top: 113px;
    margin-right: -9px;
}
.marginbottomimg{
    margin-bottom: 70px;
}

.marginbottomimg img{
    height: 100%;
    object-fit: cover;
}

.marginbottomtext{
    margin-bottom: 70px;
}
.sectext{
    padding: 104px 100px 140px 40px;
    height: 100%;
    background-color: rgba(241, 242, 242, 1);
    position: relative;
}

.sectext svg{
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
}

.tittle{
    font-size: 49px;
    line-height: 51px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    text-transform: capitalize;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.content{
    margin-bottom: 40px;
}

.content p{
    font-size: 22px;
    line-height: 31px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.1em;
}

.verdetalles{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ffffff;
    font-family: 'Raleway-Heavy';
    background-color: #A67EB1;
    padding: 11px 25px 10px 25px;
} 

.sectext a:hover {
    text-decoration: none;
    color: #ffffff;
  } 

@media (max-width:991px){
    .tittle {
        font-size: 28px;
        line-height: 29px; 
    }
    .content p{
        font-size: 16px;
        line-height: 22px;
    }
    .verdetalles {
        font-size: 16px;
        line-height: 17.15px;
    }
    .sectext {
        padding: 43px 15px 80px 15px;
    }
    .container-plastiglass {
        width: calc(100% - 40px)!important; 
        margin-left: 20px!important;
        margin-right: auto!important;
    }
    .containerpost {
        margin-left: 15px;
        margin-top: 100px;
        margin-right: 15px;
    }

}

@media (max-width:767px){

.containerpost {
    margin-top: 59px;
    margin-left: 0px;
    margin-right: 0px;
}

.marginbottomtext {
    margin-bottom: 60px;
}
.marginbottomimg {
    margin-bottom: 40px;
}



}