
.middensec {
    padding-top: 90px;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 95px;
    margin-bottom: 15px;
}

.secleft{
    width: 41.43%;
}

.secright{
    width: 58.56%;
    margin-left: 27px;
}

.secright img {
    object-fit: cover;
    height: 100%;
}

.sectext{
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #808080; 
    margin-top: 30px;
    font-family: 'Raleway-Regular';
    background-color: rgba(146, 165, 174, 0.22);
    padding: 56px 39px 60px 38px;
    /* min-height: 52.3%; */
}

.sectext svg {
    width: 29px;
}

.secleftimg{
    width: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxleft{
    width: 52%;
    background-color: rgba(146, 165, 174, 0.22);
    padding: 114px 160px 100px 68px;
}

.boxleft a:hover {
    text-decoration: none;
    color: #ffffff;
  }
   
.textone p{
    font-size: 49px;
    line-height: 51px;
    letter-spacing: 0.05em;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    margin: 0;
}
.textone p:nth-child(2){
    -webkit-text-stroke: 1px #00263A;
    color: transparent;
}
.texttwo{
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #808080; 
    font-family: 'Raleway-Regular';
    margin-bottom: 40px;
    margin-top: 15px;
}
.textthree{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ffffff; 
    font-family: 'Raleway-Heavy';
    background-color: #A67EB1;
    padding: 11px 25px 10px 25px;
}

.textcenter{
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 90px;
    margin-bottom: 45px;
    font-size: 26px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
}
.products{
    margin-left: 75px;
    margin-right: 66px;
    margin-bottom: 130px;
    justify-content: space-between;
}

.products a:hover{
    text-decoration: none;
}

.middensec a:hover {
    text-decoration: none;
}
.product{
    width: 100%;
    margin-right: 42px;
    text-align: center;
    height: 100%;
}

.product img {
    height: calc(100% - 50px);
    object-fit: cover;
}

.product p{
    letter-spacing: 0.05em;
    font-size: 20px; 
    line-height: 19px;
    color: #808080; 
    font-weight: 500;
    font-family: 'Raleway-Heavy';
    text-transform: capitalize; /*Mayusculas*/
}

.productext{
    margin-top: 15px;
    letter-spacing: 0.1em;
} 

.overproductos .products a {
    flex: 0 0 22%;
}

.imgtopmobile{
    height: 408px;
}

@media (max-width:1024px){
    .middensec {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:991px){
    .middensec {
        padding-top: 40px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 56px;
    }
    .secleft {
        width: 100%;
    }
    .secright {
        width: 100%;
        margin-top: 22px;
        margin-left: 0px;
    }
    .sectext {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
    }
    .textone p{
        font-size: 28px;
        line-height: 29px;
    }
    .texttwo {
        font-size: 16px;
        line-height: 22px;
    }
    .boxleft {
        padding: 80px 45px 80px 38px;
        width: 100%;
    }

    .textthree {
        font-size: 16px;
        line-height: 17.15px;
    }
    .secleftimg {
        width: 100%;
    }
    
    .products {
        width: max-content;
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
    }

    .product {
       display: inline-block;
    }
    .overproductos{
        overflow: auto;
    }

}

@media (max-width:767px){

    .textcenter {
        margin-top: 53px;
    }

    .productext {
        font-size: 16px!important;
        line-height: 19px!important;
    }

}

