.col-7{
    padding-right: 56px;
}

.title{
    font-size: 49px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
}

.content{
    font-size: 21px;
    line-height: 32px;
    color: #808080; 
    font-family: 'Raleway-Regular';
}

.infjacuzzi{
    margin-top: 100px;
}

.classp1{
    display: inline-block;
    width: 310px;  
    font-size: 21px;
    line-height: 24.73px;
    letter-spacing: 0.025em;
    color: #808080;
    font-family: 'Raleway-Heavy';

}
 
.classp2{
    display: contents;
    font-size: 21px;
    line-height: 24.73px;
    letter-spacing: 0.025em;
    color: #808080; 
    font-family: 'Raleway-Regular';
}

.prevArro{
    width: 29px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(calc(-30% + -100%));
}

.nextArro{
    width: 29px;
    position: absolute;
    bottom: -35px;
    right: 50%;
    transform: translateX(calc(30% + 100%));
}


.customizejacuzzi{
    margin-top: 51px;
}
.jacuzzi_imagen{
    margin-top: -39px;

}

.text_jacuzzi_text{
    font-size: 26px;
    line-height: 19px;
    color: #58595B; 
    font-family: 'Raleway-Heavy';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.text_jacuzzi_contenido{
    font-size: 22px;
    line-height: 30px;
    color: #58595B; 
    font-family: 'Raleway-Regular';
    
}

.color_casco{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Raleway-Heavy';
    margin-bottom: 11px;
    margin-top: 24px

}

.color_exterior{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Raleway-Heavy';
}

.botoncotizar{
    font-size: 18px;
    line-height: 14.4px;
    color: #ffffff;
    font-family: 'Raleway-Heavy';
    background-color: #92A5AE;
    padding: 9px 13px 9px 13px;
    letter-spacing: 0.1em;
}

.productsimili{
    margin-top: 152px;
}

.textproductsimil{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    position: relative;
}


.textproduct .textproductsimil:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 84%;
    background-color: #808080;
    left: 8%;
    top: -86px;
}


.productssimilares{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    width: 97%;
}

.productsimilares:last-child {
    margin-right: 0px !important;
}

.productsimilares{
    width: 25%;
    margin-right: 34px;
    text-align: center;

    font-size: 20px;
    line-height: 19px;
    color: #58595B; 
    font-family: 'Raleway-Regular';
    text-transform: uppercase; /*Mayusculas*/

} 

.productsimilares a:hover {
    text-decoration: none;
    color: #ffffff; 
  } 

.productsimilarestext{
    margin-top: 30px;
    letter-spacing: 0.05em;
    font-size: 20px;
    line-height: 14.4px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    text-transform: capitalize; 
}

.circlec, .circlee{
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 50%;
}

.circlec, .circlee {
    cursor: pointer; 
}

.nextArro, .prevArro {
    cursor: pointer; 
}

#colorcascoselet{ 
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Raleway-Regular';
    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.infcolor{
    position: relative;
    padding-top: 10px;
}
#colorexteriorselet{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Raleway-Regular';
    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.boxboton{
    margin-top: 47px;
}

.boxboton a:hover {
    text-decoration: none;
    color: #ffffff;
  }

.activo{
    border: 2px solid #000000;
}

#jacuzzi-3D {
    width: 100%;
    height: 90vh;
    margin-top: 50px;
}

.title-render {
    color: #00263A;
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    text-align: center;
    margin-top: 50px;
}

.section-render {
    position: relative;
}

.over-render button {
    background-color: #A67EB1;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.1em;
    padding: 10px 20px;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.over-render {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.btn-cotizar {
    background-color: #A67EB1;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.1em;
    padding: 10px 20px;
    border: none;
    position: absolute;
    top: 80px;
    z-index: 5;
    right: 20px;
    display: none;
}



@media (max-width:767px){
    #jacuzzi-3D {
        margin-top: 15px;
        height: 90vh;
    }
    .btn-cotizar, .over-render button {
        font-size: 16px;
    }
}
@media (max-width:991px){
    .container-plastiglass {
        width: calc(100% - 40px)!important; 
        margin-left: 20px!important;
        margin-right: auto!important;
    }
    .title {
        font-size: 28px;
        line-height: 29px;
    }
}

@media (max-width:767px){
    .content {
        font-size: 16px;
        line-height: 22px;
    }
    .classp1 {
        font-size: 14px;
        line-height: 24.73px;
        width: 50%;
        margin-bottom: 10px;
    }
    .classp2 {
        font-size: 14px;
        line-height: 21.93px;
        display: inline;
        float: right;
    }
    .text_jacuzzi_text {
        font-size: 19px;
        line-height: 13.7px;
        letter-spacing: 0.050em;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .text_jacuzzi_contenido {
        font-size: 16px;
        line-height: 21.64px;
    }
    .color_casco {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .color_exterior {
        font-size: 16px;
        margin-bottom: 0px;
    }
    #colorcascoselet {
        font-size: 16px;
        left: 0px;
        top: 100%;
        margin-top: 15px;
    }
    #colorexteriorselet {
        font-size: 16px;
        left: 0px;
        top: 100%;
        margin-top: 15px;
    }
    .boxboton {
        margin-top: 67px;
        margin-bottom: 46px;
    }
    .botoncotizar {
        font-size: 16px;
        line-height: 17.15px;
    }
    .infjacuzzi {
        margin-top: 64px;
    }
    .slick-slider {
        margin-bottom: 60px;
    }
    .customizejacuzzi {
        margin-top: 67px;
    }
    .circlec, .circlee {
        height: 35px;
        width: 35px;
        margin-right: 4px;
    }
    .infcolor{
        margin-bottom: 50px;
    }
    .productsimili {
        margin-top: 76px;
    }
    .textproduct .textproductsimil:before {
        top: -38px;
    }
    .textproductsimil {
        line-height: 28px;
    }
    .textproduct{
        margin-right: 35px;
        margin-left: 35px;
    }
    .productssimilares {
        margin-top: 35px;
        margin-bottom: 43px;
        width: 300vw;
    }
    .overproductos{
        overflow: auto;
    }
    .productsimilares {
        font-size: 16px;
        display: inline-block;
        width: 30%; 
    }
}

