.col-7{
    padding-right: 56px;
}

.title{
    font-size: 49.27px;
    line-height: 49.27px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    font-size: 22px;
    line-height: 35px;
    color: #58595B; 
    font-family: 'Work Sans';
}

.infjacuzzi{
    margin-top: 126px;
}

.classp1{
    display: inline-block;
    width: 310px;  
    font-size: 17px;
    line-height: 24.73px;
    color: #58595B; 
    font-weight: bold;
    font-family: 'Work Sans';

}
 
.classp2{
    display: contents;
    font-size: 17px;
    line-height: 24.73px;
    color: #58595B; 
    font-family: 'Work Sans';
}

.prevArro{
    width: 29px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(calc(-50% + -32px));
}

.nextArro{
    width: 29px;
    position: absolute;
    bottom: -35px;
    right: 50%;
    transform: translateX(calc(-50% + 32px));
}


.customizejacuzzi{
    margin-top: 51px;
}
.jacuzzi_imagen{
    margin-top: -39px;

}

.text_jacuzzi_text{
    font-size: 26px;
    line-height: 19px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.text_jacuzzi_contenido{
    font-size: 22px;
    line-height: 30px;
    color: #58595B; 
    font-family: 'Work Sans';
    
}

.color_casco{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    margin-bottom: 11px;
    margin-top: 24px

}

.color_exterior{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
}

.botoncotizar{
    font-size: 18px;
    line-height: 14.4px;
    color: #ffffff; 
    font-weight: bold;
    font-family: 'Work Sans';
    background-color: #92A5AE;
    padding: 9px 13px 9px 13px;
    letter-spacing: 0.1em;
}

.productsimili{
    margin-top: 152px;
}

.textproductsimil{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #58595B; 
    font-family: 'Work Sans';
    font-weight: bold;
    letter-spacing: 0.075em;
    position: relative;
}


.textproduct .textproductsimil:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #698893;
    left: 10%;
    top: -86px;
    opacity: 0.1;
}


.productssimilares{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    width: 97%;
}

.productsimilares:last-child {
    margin-right: 0px !important;
}

.productsimilares{
    width: 25%;
    margin-right: 34px;
    text-align: center;

    font-size: 20px;
    line-height: 19px;
    color: #58595B; 
    font-weight: 500;
    font-family: 'Work Sans';
    text-transform: uppercase; /*Mayusculas*/

} 

.productsimilares a:hover {
    text-decoration: none;
    color: #ffffff; 
  } 

.productsimilarestext{
    margin-top: 15px;
    letter-spacing: 0.1em;
}

.circlec, .circlee{
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 50%;
}

.circlec, .circlee {
    cursor: pointer; 
}

.nextArro, .prevArro {
    cursor: pointer; 
}

#colorcascoselet{ 
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Work Sans';
    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.infcolor{
    position: relative;
    padding-top: 10px;
}
#colorexteriorselet{
    font-size: 18px;
    line-height: 21px;
    color: #58595B; 
    font-family: 'Work Sans';
    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.boxboton{
    margin-top: 47px;
}

.boxboton a:hover {
    text-decoration: none;
    color: #ffffff;
  }

.activo{
    border: 2px solid #000000;
}

@media (max-width:991px){
    .container-plastiglass {
        width: calc(100% - 40px)!important; 
        margin-left: 20px!important;
        margin-right: auto!important;
    }

}

@media (max-width:767px){
    .title {
        font-size: 28px;
        line-height: 29px;
    }
    .content {
        font-size: 16px;
        line-height: 22px;
    }
    .classp1 {
        font-size: 14px;
        line-height: 24.73px;
        width: 50%;
        margin-bottom: 10px;
    }
    .classp2 {
        font-size: 14px;
        line-height: 24.73px;
        display: inline;
        float: right;
    }
    .text_jacuzzi_text {
        font-size: 19px;
        line-height: 13.7px;
        letter-spacing: 0.050em;
        margin-top: 17px;
        margin-bottom: 5px;
    }
    .text_jacuzzi_contenido {
        font-size: 16px;
        line-height: 21.64px;
    }
    .color_casco {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .color_exterior {
        font-size: 16px;
        margin-bottom: 0px;
    }
    #colorcascoselet {
        font-size: 16px;
        left: 0px;
        top: 100%;
        margin-top: 15px;
    }
    #colorexteriorselet {
        font-size: 16px;
        left: 0px;
        top: 100%;
        margin-top: 15px;
    }
    .boxboton {
        margin-top: 67px;
        margin-bottom: 46px;
    }
    .botoncotizar {
        font-size: 16px;
        line-height: 17.15px;
    }
    .infjacuzzi {
        margin-top: 64px;
    }
    .slick-slider {
        margin-bottom: 60px;
    }
    .customizejacuzzi {
        margin-top: 67px;
    }
    .circlec, .circlee {
        height: 35px;
        width: 35px;
        margin-right: 4px;
    }
    .infcolor{
        margin-bottom: 50px;
    }
    .productsimili {
        margin-top: 76px;
    }
    .textproduct .textproductsimil:before {
        top: -38px;
    }
    .textproductsimil {
        line-height: 28px;
    }
    .textproduct{
        margin-right: 35px;
        margin-left: 35px;
    }
    .productssimilares {
        margin-top: 35px;
        margin-bottom: 43px;
        width: 300vw;
    }
    .overproductos{
        overflow: auto;
    }
    .productsimilares {
        font-size: 16px;
        display: inline-block;
        width: 30%; 
    }
}

