
#main_menu {
    display: inline-block;
}

#main_menu li {
    display: inline-block;
    margin-left: 29px;
    position: relative;
}

#main_menu .current_page_item a{
    color: #5FD0DF;
}

#main_menu li:first-child:before {
    display: none;
}

#main_menu li:before {
    content: '';
    width: 2px;
    height: 15px;
    background-color: #FFFFFF; 
    position: absolute;
    top: 7.4px;
    left: -19px;

}

#main_menu li a {
    font-family: 'Raleway-Bold';
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    text-transform: capitalize; /*Mayusculas*/
    
}
#main_menu .sub-menu{
    display: none;
    padding: 80px 0px 50px 20px;
    position: absolute;
    left: 0;
    top: 25px;
    background-color: #00263A;
    width: 225px;
    text-align: left;
}
#main_menu .sub-menu li{
    margin-left: 0;
    width: 100%;
}
#main_menu .sub-menu li:before{
    content: unset;
}
#main_menu .sub-menu li a{
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding: 5px 20px 5px 0px;
}
#main_menu .sub-menu li a:hover{
    text-decoration: none;
    background-color: #5FD0DF;
}
#main_menu .menu-item-has-children:hover .sub-menu {
    display: block;
}
.custom-logo {
    max-width: 271px;
}
.menucontacto {
    background-color: #92A5AE;
    padding: 0px 14px 4px 14px;
}

.menucontacto:before {
    display: none; 
}

.menucontacto a {
    color: #FFFFFF!important;
}

header {
    height: 127px;
    display: flex!important;
    align-items: center;
    background-color: #00263A;
}

#navbarCollapse{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: right;
}

#PR-navbar a {
    width: 190px;
}

.container-header {
    margin-right: 23px;
    margin-left: 31px;
    width: 100%;
}

.mainws {
    margin-left: 45px !important;
}
.mainws:before {
    height: 42px !important;
    top: -2.6px !important;
    left: -26px !important;
    /* display: none; */
}

.mainws svg {
    width: 39.4px;
}

.mainws svg path {
    transform: translate(1px, 1px) scale(0.9);
}

.maincarrito{
    margin-left: 55px !important;
}

.maincarrito:before {
    display: none;
}

.maincarrito svg{
    width: 48px;
}
.maincarrito a:hover{
    text-decoration: none;
}
.maincarrito span{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    color: #00263A;
    font-family: 'Raleway-Regular';
}

.footermain {
    background-color: #00263A;
    padding-right: 30px;
    padding-left: 50px;
    height: 65px;
    align-items: center;
}

.footermain .footerleft {
    font-size: 13px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    font-family: 'Raleway-Regular';
    width: 490px;
}
.footermain a{
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.05em;
}
.footermain .footerright span{
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.025em;
}

.footermain .footerright{
    text-align: right;
    width: 100%;
}

.footermain .footerright a:hover {
    color: #FFFFFF;
  }

.footermain .mail {
    position: relative;
    font-weight: 500;
    margin-right: 50px;
    font-family: 'Raleway-Heavy';
}

.footermain .mail:hover {
    text-decoration: none;
}

.footermain .mail:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
    top: 20px;
    left: -3px;
}

.footermain .phonetwo {
    margin-left: 11px;
    position: relative;
    margin-right: 25px;
}

.footermain .phonetwo:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 2px;
    background-color: #FFFFFF; 
    top: 3px;
    left: -8px;

}

.uparrow {
    text-align: center;
    width: 52px;
    position: fixed;
    right: 28px;
    bottom: 73px;
    cursor: pointer;
    display: none;
}

.uparrowsvg {
    width: 13px;
}

.uparrowtext{
    font-size: 14px;
    line-height: 19px;
    color: #808080;
    font-family: 'Raleway-ExtraBold';
    letter-spacing: 0.075em;
}

.container-plastiglass{
    width: calc(100% - 225px)!important;
    margin-left: 87px!important;
    margin-right: auto!important;
}

.menumobile{
    position: relative;
    height: 15px;
    width: 22px;
    float: right;
    top: 10px;
    cursor: pointer;

}
.menumobile span{
    height: 2px;
    width: 22px;
    background-color: #FFFFFF;
    position: absolute;
}
.menumobile span:nth-child(1){
    top: 0px;
}
.menumobile span:nth-child(2){
    top: 7px;
}
.menumobile span:nth-child(3){
    top: 14px;
}
.exit{
    position: absolute;    
    height: 15px;
    width: 22px;
    cursor: pointer;
    top: 23px;
    right: 17px;
}
.exit span{ 
    height: 2px;
    width: 22px;
    background-color: #FFFFFF;
    position: absolute;
}
.exit span:nth-child(1){
    transform: rotate(45deg);
}
.exit span:nth-child(2){
    transform: rotate(-45deg);
}
.see_main_mobile{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #92A5AE;
    height: 0vh;
    overflow: auto;
    transition: .5s;
    z-index: 1;
}
.see_main_mobile a{
    font-size: 14px;
    line-height: 35px;
    color: #546B77;
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
    text-transform: uppercase;
    position: relative;
    
}
.see_main_mobile a:hover{
    color: #546B77;
    text-decoration: none;
}

#main_mobile li{
    list-style-type: none;
}
.mostrar{
    height: 100vh;
    
}

.main_mobile{
    margin-left: 2px;
    margin-top: 50px;
} 
.main_mobile .mainws , .main_mobile .maincarrito{
    display: none;
}

.main_mobile .Contactomenu{

    background-color: #FFFFFF;
    width: 118px;
    padding: 2px 12px;
    margin-top: 17px;
    margin-left: -12px;
}
.main_mobile .Contactomenu a{
    font-size: 16px;
    line-height: 19px;
    color: #92A5AE;
    font-weight: bold;
    font-family: 'Work Sans';
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

.see_main_mobile .current-menu-item a:after{
    height: 2px;
    width: 30px;
    background-color: #546B77;
    content: "";
    position: absolute; 
    left: 0px;
    bottom: -5px;
}

.nonescroll{
    overflow: hidden;
}

.wpcf7-list-item-label a {
    color: #929292;
    text-decoration: underline;
}

.wpcf7-list-item-label a:hover {
    color: #929292;
    text-decoration: underline;
}
.woocommerce-content{
    padding-top: 90px;
    padding-bottom: 95px;
}
.woocommerce-content .container-plastiglass{
    margin-left: auto!important;
}
.woocommerce-content h1{
    font-size: 49px;
    line-height: 51px;
    letter-spacing: 0.05em;
    color: #00263A;
    font-family: 'Raleway-Heavy';
    margin-bottom: 20px;
    text-align: center;
}
.woocommerce-content .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    font-size: 20px!important;
    line-height: 20px!important;
    letter-spacing: 0.05em!important;
    color: #ffffff!important;
    font-family: 'Raleway-Heavy'!important;
    background-color: #A67EB1!important;
    padding: 15px 25px 15px 25px!important;
    border-radius: 0!important;
}
.woocommerce-content .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 200px!important;
}
.woocommerce-content  h2{
    font-size: 26px;
}
.woocommerce-content  .product-name a, .woocommerce-content .woocommerce-privacy-policy-text a{
    font-size: 21px;
    line-height: 24px;
    color: #A67EB1;
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
}

.woocommerce-content .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
}
.woocommerce-content .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    width: 60%!important;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.woocommerce-content #order_comments_field{
    display: block;
}
.woocommerce-content .checkout p{
    font-size: 20px;
}
@media (max-width:1180px){
    .maincarrito svg, .mainws svg {
        width: 25px;
    }
    #main_menu li a{
        font-size: 17px;
        line-height: 17px;
    }
    .maincarrito{
        margin-left: 25px !important;
    }
}
@media (min-width:1060px){
    .menumobile{
        display: none;
    }
    
}
@media (max-width:1059px){
   
    #navbarCollapse {
        margin-top: 0px;
        margin-right: 15px;
        width: fit-content;
        float: right;
    }
    .mainws:before{
        height: 34px!important;
    }

    .maincarrito span{
        top: 0px;
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 10px;
    }
    
    /* .menu-main-container li:not(.mainws){
        display: none!important;
    } */
    .menu-main-container li{
        display: none!important;
    }
    .menu-main-container .mainws{
        display: inline-block!important;
    }
    .menu-main-container .maincarrito{
        display: inline-block!important;
    }
    
    header {
        height: 46px;
        border: none;
    }
    .custom-logo {
        max-width: 55px!important; 
        height: auto!important;
    }

    .container-header {
        margin-right: 17px;
        margin-left: 15px;
    }
    #PR-navbar{
        display: block!important;
    }
}
@media (max-width:1200px){
    .footermain{
        padding-top: 13px;
    }
    .footermain .footerright {
        text-align: left;
    }

}
@media (max-width:991px){ 
    .container-plastiglass{
        width: 90%;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .footermain .footerleft {
        font-size: 13px;
        line-height: 15.6px;
        width: unset;
        margin-top: 20px;
        margin-bottom: 15px;
        padding-top: 23px;
    }
    .footermain {
        padding-right: 41px;
        padding-left: 28px;
        height: unset;
        padding-bottom: 20px; 
        padding-top: 0;
    }
    .footermain .footerright span {
        display: block;
        margin-top: 5px;
    }
    .footermain .mail {
        display: table;
        margin-bottom: 5px;
    }
    .woocommerce-content .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        width: 100%!important;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .woocommerce-content .col2-set .col-1, .woocommerce-page .col2-set .col-1{
        width: 100%!important;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:767px){ 
    .container-plastiglass {
        width: calc(100% - 40px)!important;
        margin-left: 20px!important;
        margin-right: auto!important;
    }

}


