.nosotros_text{
    margin-top: 105px;
    margin-left: 188px;
    margin-right: 300px;
    position: relative;
}

.nosotros_text a:hover {
    text-decoration: none;
    color: #A67EB1; 
} 

.nosotros_tittle{
    font-size: 49px;
    line-height: 51px;
    color: #00263A; 
    font-family: 'Raleway-Heavy'; 
    letter-spacing: 0.050em; 
    margin-bottom: 20px;
}
.nosotros_tittle span{
    -webkit-text-stroke: 1px #00263A;
    color: transparent;
}
.cliente_content{
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.050em; 
    color: #808080; 
    font-family: 'Raleway-Regular';
    text-align: justify;
    margin-bottom: 20px;
}

.botonvisitar{
    font-size: 21px;
    line-height: 24.54px;
    color: #A67EB1; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    position: relative;
}

.arrow{
    width: 29px;
    margin-left: 120px;
    margin-top: -27px;
    position: absolute;

}
.texthistoria{
    margin-top: 81px;
}

.secleftimg{
    width: 46%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxleft{
    width: 54%;
    background-color: rgba(241, 242, 242, 1);
    padding: 100px 165px 115px 95px;
    position: relative;
}
.boxleft .fondo{
    position: absolute;
    left: 0;
    bottom: 45px;
}
.textone{
    font-size: 49px;
    line-height: 51px;
    letter-spacing: 0.05em;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
}
.textone span{
    -webkit-text-stroke: 1px #00263A;
    color: transparent;
}
.texttwo{
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #808080; 
    font-family: 'Raleway-Regular';
}

@media (max-width:991px){
    .nosotros_tittle {
        font-size: 28px;
        line-height: 29px;
    }
    .cliente_content {
        font-size: 16px;
        line-height: 22px;
    }
    .nosotros_text {
        margin-top: 58px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .botonvisitar {
        font-size: 16px;
    }
    .arrow {
        margin-left: 105px;
    }
    .texthistoria {
        margin-top: 37px;
    }
    .textone {
        font-size: 28px;
        line-height: 29px;
    }
    .texttwo {
        font-size: 16px;
        line-height: 22px;
    }
    .boxleft {
        padding: 59px 35px 20px 35px;
    }
}

@media (max-width:767px){ 

    .secleftimg {
        width: 100%;
    }
    .boxleft {
        width: 100%;
    }
    .texthistoria {
        margin-bottom: 70px;
    }
}