.Menu_link{
    margin-left: 81px;
    margin-top: 60px;
}

.Menu_link_Menuproducto{
    font-size: 18px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.01em;
    margin-right: 20px;
    position: relative;

}

.Menu_link_Menu a:hover{
    text-decoration: none;
    color: #808080; 
}



.Menu_link_Menugrifo{
    font-size: 18px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.01em;
    margin-right: 20px;
    position: relative;
}


.Menu_link_Menunevera{
    font-size: 18px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.01em;  
}


.Menu_link_Menu .Menu_link_Menuproducto:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: #808080; 
    top: 5px;
    right: -9px;
    cursor: none;
}

.Menu_link_Menu .Menu_link_Menugrifo:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 1px;
    background-color: #808080; 
    top: 5px;
    right: -9px;
    cursor: none;
}

.col-7 {
    padding-right: 56px;
    
}

.slider-nav{
    margin-top: 30px;
    
    
}
.imagen_nav{
    margin-right: 25px;

} 
.contenido_grifo{
    width: calc(100% - 194px)!important;
    margin-left: 83px!important;
    margin-top: 55px;
    margin-bottom: 94px;
}

.title_grifo{
    font-size: 49px;
    line-height: 50px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';  
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}

.content_grifo{
    font-size: 21px;
    line-height: 33px;
    color: #808080; 
    font-family: 'Raleway-Regular';

}

.characteristic{
    margin-top: 30px;
}
.classp{
    font-size: 18px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Light';
    letter-spacing: 0.01em;
}

.classp1{
    display: inline-block;
    width: 60%;  
    font-size: 21px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
 
.classp2{
    display: contents;
    font-size: 21px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.1em;
}

.classp3{
    font-size: 21px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
 
.classp4{
    font-size: 21px;
    line-height: 24.73px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    letter-spacing: 0.1em;
}

.colores_text{
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 19px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.05em;
}

.productsimili{
    margin-top: 130px;
}

.textproductsimil{
    text-align: center;
    font-size: 26px;
    line-height: 19px;
    color: #00263A; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
    position: relative;
}


.textproduct .textproductsimil:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #698893;
    left: 10%;
    top: -86px;
    opacity: 0.1;
}

.productssimilares{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 157px;
    margin-top: 44px;
    text-align: center;
    justify-content: center;
    width: 80%; 
}

.productsimilares:last-child {
    margin-right: 0px !important;
}

.productsimilares{
    width: 50%;
    margin-right: 34px;
    text-align: center; 

    font-size: 20px;
    line-height: 19px;
    color: #58595B; 
    font-weight: 500;
    font-family: 'Work Sans';
    text-transform: uppercase; /*Mayusculas*/
    

}

.productsimilares a:hover {
    text-decoration: none;
    color: #ffffff;
  }

.productsimilarestext{
    margin-top: 15px;
    font-size: 20px;
    line-height: 19px;
    color: #808080; 
    font-family: 'Raleway-Heavy';
    letter-spacing: 0.050em;
}

.circlec{
    height: 42px;
    width: 42px;
    display: inline-block;
    border-radius: 50%;
}
.circlec{
    cursor: pointer;
}

#colordisponibleselet{
    font-size: 18px;
    line-height: 21px;
    color: #808080; 
    font-family: 'Raleway-Regular';
    
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.infcolor{
    position: relative;
    padding-top: 10px;
}

.precio{
    font-family: 'Raleway-Medium';
    font-size: 26px;
    line-height: 19px;
    color: #808080;
    letter-spacing: 0.05em;
    margin-top: 35px;
}
.cart button{
    background-color: #A67EB1!important;
    font-size: 20px!important;
    line-height: 20px!important;
    color: #ffffff!important;
    font-family: 'Raleway-Heavy'!important;
    letter-spacing: 0.05em!important;
    padding: 15px 50px!important;
    border: none!important;
    margin-top: 20px!important;
    border-radius: 0!important;
    width: 100%!important;
}

.activo{
    border: 2px solid #000000; 
}

ul.listacaracteristicas
{
    list-style-type: none;
    margin-left: -41px;
}

.materialcol{
    margin-top: 6px;
}


@media (max-width:991px){
    .title_grifo {
        font-size: 28px;
        line-height: 29px;
        margin-top: 50px;
    }
    .imagen_nav {
        margin-right: 12px;
    }
    .contenido_grifo {
        margin-top: 60px;
    }

}

@media (max-width:767px){
    .Menu_link {
        margin-left: 35px;
        margin-top: 0px;
        margin-right: 35px;
        display: none;
    }
    .contenido_grifo {
        width: calc(100% - 75px)!important;
        margin-left: 35px!important;
        margin-right: auto!important;
        margin-top: 20px;
        margin-bottom: 73px;   
    }  
    .imagen_nav {
        width: 70px;
    }
    .slider-nav {
        margin-top: 12px;
    }
    .title_grifo {
        margin-top: 64px;
    }
    .content_grifo, .classp {
        font-size: 16px;
        line-height: 22px;
    }
    .classp1 {
        font-size: 14px;
        line-height: 24.73px;
        width: 55%;
        margin-bottom: 10px;
    }
    .classp2 {
        font-size: 14px;
        line-height: 24.73px;
        display: inline;
        float: right;
    }
    .classp3 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .classp4 {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        
    }

    .materialcol{
        margin-top: 10px;
    }
    .characteristic{
        margin-top: 35px;
    }
    .colores_text {
        font-size: 16px;
        margin-top: 27px;
    }
    .circlec {
        height: 35px;
        width: 35px;
        margin-right: 4px;
    }
    #colordisponibleselet {
        font-size: 16px;
        left: 0px;
        top: 100%;
        margin-top: 15px;
    }
    .textproduct{
        margin-right: 35px;
        margin-left: 35px;
    }
    .precio{
        font-size: 21px;
    }
    .textproductsimil {
         line-height: 28px; 
    }
    .overproductos {
        overflow: auto;
    }
    .productsimilares {
        font-size: 16px;
        display: inline-block;
        margin-right: 14px;
    }
    .productssimilares {
        margin-bottom: 70px;
        margin-top: 11px;
        width: 300vw;
        padding-left: 35px;
        padding-right: 35px;
    }
    .productsimili {
        margin-top: 76px;
    }
    .textproduct .textproductsimil:before {
        top: -35px;
    }
    .productsimilarestext {
        font-size: 16px;
        line-height: 19px;
    }
    
}